* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: white;
}

h1 {
    float: right;
}

header,
.main,
footer {
    /*background: #c7ceea;*/
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header nav {
    background: #c5a3ff;
    overflow: hidden;
    /*Ocultar el contenido que sobrepasa el contenedor; limpia los float:left*/
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #19014d;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #d5aaff;
    cursor: pointer;
    color: #63073a;
}

.main .articulos {
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
}

.main .articulos article {
    padding: 20px;
    background: #dcd3ff;
    margin-bottom: 20px;
}

aside {
    width: 30%;
    background: #97a2ff;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    clear: both;
    padding: 10px 0px;
    text-align: center;
}

table {
    border: 1px solid brown;
    border-collapse: collapse;
}

table td {
    border: 1px solid black;
    padding: 20px;
}

table tr:hover {
    background: tan;
}

table td:hover {
    background: black;
    color: wheat;
}

form {
    width: 70%;
    border: 1px;
    margin: 20px;
    padding: 20px;
}

label {
    font-size: 12px;
    display: block;
    width: 100%;
}

textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 100px;
}

input,
textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #c2b0b5;
}

input:focus,
textarea:focus {
    border: 1px solid #e38ea8;
}

input[type="submit"] {
    width: 100px;
    margin-bottom: 0px;
    background: #e38ea8;
    color: #4a071c;
    border: none;
}

input[type="submit"]:hover {
    background: #d5b2bc;
    cursor: pointer;
}

.fondo:hover {
    color: none;
    background: none;
}

.fondo2:hover {
    background: none;
}